



#box {
    /* background-image: linear-gradient(0deg, #03bb85, #256D7B); */
    background-image: url("./imagenes/Fondo.png");
}

.button {
    background: rgba(1, 1, 1, 0);
    color: whitesmoke;
    /* box-shadow: 2px 2px 2px 10px rgba(0, 0, 0, 0.2); */
    font-size: 20px;
    transition: all 0.5s;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0) 0px 19px 38px, rgba(0, 0, 0, 0) 0px 15px 12px;
}



.buttonAbout{
    border: none;
    border-radius: 50px;
    background-image: url("./imagenes/Acerca\ de.psd");
    background-repeat:no-repeat ;
}

.buttonRoad{
    border: none;
    border-radius: 50px;
    background-image: url("./imagenes/Caminocorto.png");
    background-repeat:no-repeat ;
}



.buttonOpen{
    border: none;
    border-radius: 50px;
    background-image: url("./imagenes//Abrir.png");
    background-repeat:no-repeat ;
}

.buttonCreate{
    border: none;
    border-radius: 50px;
    background-image: url("./imagenes//Creargrapho.png");
    background-repeat:no-repeat ;
}

.buttonExit {
    border: none;
    border-radius: 50px;
    background-image: url("./imagenes//Salir.png");
    background-repeat:no-repeat ;

}

.button-box{

    border: none; 
}